node_modules
dist
dist-ssr
storybook-static
*.tsbuildinfo
*.local
.env
.env.local
.env.*.local
.DS_Store
Thumbs.db
.vscode/*
!.vscode/settings.json
.idea
*.log
npm-debug.log*
.chromatic-build
chromatic.log
.vercel
